@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
   background-color: #0A192F;
}

::-webkit-scrollbar-thumb {
    background: #02354d;
    border-radius: 10px;
}
i{
    cursor: pointer;
    font-size: 24px;
}
i:hover{
    color: white ;

}
#whatsapp:hover{
    color:#00c24f
}
#linkedin:hover{
    color: #0068c2;
}
.s{
    animation: s 1s infinite;
}
@keyframes s{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 0.5;
    }
}
.m{
    animation: m 1s infinite;
}
@keyframes m{
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.5;
    }
}
